/*

COLORS

Orange: #EE4D47

Blue: #0F264C

Orange light 1: #FEF8F5
Orange light 2: #FDEDE8
Orange light 3: #FCDDD4

Orange dark 1: #402B2B

*/
.mb-s {
  margin-bottom: 5rem !important;
}

.mb-m {
  margin-bottom: 10rem !important;
}

.mb-l {
  margin-bottom: 20rem !important;
}

.mb-h {
  margin-bottom: 40rem !important;
}

@keyframes truck_move {
  0% {
    transform: translateX(-75%);
  }
  50% {
    transform: translateX(-35%);
  }
  90% {
    transform: translateX(-5%);
  }
  100% {
    transform: translateX(0);
  }
}
* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  font-family: "DM Serif Display", serif;
  font-size: 2rem;
  font-weight: 300;
  line-height: 4rem;
  color: #402B2B;
  background-color: #FEF8F5;
}

a:link {
  text-decoration: none;
  color: #fff;
  background-color: transparent;
}

.btn--inline {
  display: flex;
  max-width: 22rem;
  height: auto;
  text-transform: uppercase;
  background-color: #ee4d47;
  padding: 2rem 2.4rem 2rem 2.4rem;
  border: none;
  cursor: pointer;
  border-radius: 3px;
  font-family: "Rubik", sans-serif;
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 1.8rem;
  color: #fff;
  z-index: 50;
}

.button:hover {
  transform: scale(105%);
  box-shadow: 0rem 1rem 2rem 0.2rem rgba(238, 77, 71, 0.4);
  transition: all 0.3s;
}

.heading-1 {
  font-family: "DM Serif Display", serif;
  font-size: 10rem;
  font-weight: 400;
  line-height: 10rem;
  color: #fff;
  max-width: 70rem;
  margin-bottom: 6rem;
  z-index: 50;
}

.heading-2 {
  font-family: "Rubik", sans-serif;
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 4rem;
  color: #EE4D47;
}

.heading-3 {
  font-family: "DM Serif Display", serif;
  font-size: 4.8rem;
  font-weight: 400;
  line-height: 6.7rem;
  color: #402B2B;
}

.menu-link--1 {
  font-family: "Rubik", sans-serif;
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 18rem;
  color: #fff;
  text-transform: uppercase;
}

.menu-link--2 {
  font-family: "Rubik", sans-serif;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 18rem;
  color: #fff;
  text-transform: uppercase;
}

.menu-link--2:hover,
.menu-link--2:active {
  transform: scale(105%);
  box-shadow: 0rem 1rem 2rem 0.2rem rgba(238, 77, 71, 0.4);
  transition: all 0.3s;
}

.user-nav {
  font-family: "DM Serif Display", serif;
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 18rem;
  color: #fff;
}

.about__p {
  font-family: "Rubik", sans-serif;
  font-size: 1.8rem;
  font-weight: 300;
  line-height: 4rem;
  color: #402B2B;
}

.about__call__p {
  font-family: "Rubik", sans-serif;
  font-size: 2.4rem;
  font-weight: 500;
  line-height: 3.6rem;
  color: #402B2B;
}

.apply__p {
  font-family: "Rubik", sans-serif;
  font-size: 1.8rem;
  font-weight: 300;
  line-height: 4rem;
  color: #402B2B;
}

.faq__title p {
  font-family: "Rubik", sans-serif;
  font-size: 1.8rem;
  font-weight: 500;
  line-height: 3rem;
  color: #402B2B;
}

.faq__desc {
  font-family: "Rubik", sans-serif;
  font-size: 1.8rem;
  font-weight: 300;
  line-height: 3rem;
  color: #402B2B;
}

.clients__p {
  font-family: "Rubik", sans-serif;
  font-size: 1.6rem;
  font-weight: 300;
  line-height: 3rem;
  color: #402B2B;
}

.clients-box__p {
  font-family: "Rubik", sans-serif;
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 3rem;
  color: #402B2B;
}

.footer__call__p {
  font-family: "Rubik", sans-serif;
  font-size: 2rem;
  font-weight: 400;
  line-height: 3rem;
  color: #fff;
}

.footer__copyright {
  font-family: "Rubik", sans-serif;
  font-size: 1.6rem;
  font-weight: 300;
  line-height: 3rem;
  color: #402B2B;
}

.footer__menu__item {
  font-family: "Rubik", sans-serif;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.9rem;
  color: #fff;
  text-transform: uppercase;
}

.form__name, .form__email {
  font-family: "Rubik", sans-serif;
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 4rem;
  color: #402B2B;
}
.form__example {
  font-family: "Rubik", sans-serif;
  font-size: 1.6rem;
  font-weight: 300;
  line-height: 4rem;
  color: #402B2B;
}

.container {
  max-width: 160rem;
  height: auto;
  margin: 0 auto;
  background-color: #FEF8F5;
  z-index: -10;
  overflow: hidden;
}

.content {
  width: 100%;
  margin: 0 auto;
  height: auto;
}

.section-column {
  display: flex;
  flex-direction: column;
  padding-right: 2.5rem;
  gap: 4rem;
  flex: 1 1;
  max-width: 50%;
}

.image-cont {
  display: flex;
}

.user-nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex: 0 0 20%;
  margin: 4rem 25.2rem 9rem 0rem;
  z-index: 10;
}
.user-nav__menu {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex: 0 2 56%;
  list-style: none;
  gap: 1.4rem;
  margin-right: 1rem;
}
.user-nav__menu__item a:hover {
  background-color: none;
  transform: scale(105%);
  box-shadow: 0rem 1rem 2rem 0.2rem rgba(238, 77, 71, 0.4);
  transition: all 0.3s;
}

.footer__nav {
  display: flex;
  flex-direction: initial;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  z-index: 50;
}
.footer__nav__menu {
  display: flex;
  flex-direction: initial;
  justify-content: initial;
  align-items: initial;
  gap: 10rem;
  justify-self: flex-end;
  list-style: none;
}
.footer__nav__menu:last-child {
  margin-right: 10rem;
}

.logo {
  width: 21.2rem;
  height: auto;
}

.header {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: initial;
  width: 100%;
  height: auto;
  padding-left: 24rem;
}

.scene-cont {
  width: max-content;
}
.scene-cont__img-1 {
  width: 158.7rem;
  height: auto;
  z-index: 1;
  position: absolute;
  top: 0;
  left: 0;
}
.scene-cont__img-2 {
  z-index: 5;
  width: auto;
  height: 50.6rem;
  position: absolute;
  right: 42rem;
  top: 44.3rem;
}
.scene-cont__img-3 {
  z-index: 5;
  width: 81.1rem;
  height: auto;
  position: absolute;
  left: -21.1rem;
  top: 79rem;
  animation: 2s linear 0s alternate truck_move;
}

.about {
  width: 100%;
  height: auto;
  margin: 0 auto;
  margin-top: 70rem;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: initial;
  max-width: 117rem;
}
.about__img-1 {
  max-width: 57.5rem;
  margin-left: -6rem;
}
.about__call {
  background-color: #fdede8;
  padding: 3rem 3.5rem;
  border-left: 1rem solid #ee4d47;
  border-radius: 5px;
}

.apply {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: initial;
  width: 100%;
  height: auto;
  margin: 0 auto;
  margin-top: 8rem;
  max-width: 117rem;
}
.apply__img-1 {
  max-width: 57.5rem;
  margin-top: -10rem;
  margin-left: -8rem;
}

.faq {
  display: flex;
  flex-direction: initial;
  justify-content: initial;
  align-items: initial;
  height: auto;
  margin: 0 auto;
  margin-top: 8rem;
  max-width: 117rem;
  flex-wrap: wrap;
  position: relative;
}
.faq__img-1 {
  max-width: 70rem;
  margin-left: -12rem;
  margin-top: -15rem;
}
.faq__shape {
  position: absolute;
  top: -24rem;
  right: -24rem;
  width: 118rem;
  height: 140rem;
  z-index: 1;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  border-top-left-radius: 10vmax;
  background-color: #fdede8;
}
.faq__row {
  display: flex;
  flex-direction: initial;
  justify-content: space-between;
  align-items: initial;
  width: 100%;
  margin: 5 auto;
  z-index: 100;
  max-width: 114rem;
}
.faq__list {
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: initial;
  align-items: initial;
}
.faq__item {
  position: relative;
  max-width: 55rem;
  margin-top: 1rem;
  margin-right: 1.5rem;
}
.faq__item-box {
  border-radius: 5px;
  z-index: 10;
  display: flex;
}
.faq__title {
  display: flex;
  flex-direction: initial;
  justify-content: space-between;
  align-items: center;
  border-radius: 1rem;
  background-color: #fff;
  width: 55rem;
  height: 9rem;
  box-shadow: 0rem 2rem 4rem 0.2rem rgba(238, 77, 71, 0.1);
  cursor: pointer;
}
.faq__title p {
  max-width: 40rem;
  margin-left: 3.5rem;
}
.faq__desc {
  padding: 5rem 3.5rem 6rem 3.5rem;
  background: linear-gradient(180deg, rgb(255, 232, 232) 0%, rgb(255, 247, 245) 35%, rgb(255, 247, 245) 100%);
  box-shadow: 0rem 2rem 4rem 0.2rem rgba(238, 77, 71, 0.1);
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
}

.faq__btn {
  color: #EE4D47 !important;
  background-color: rgba(238, 77, 71, 0.2) !important;
  justify-content: center;
}

.faq__btn-hidden {
  opacity: 0;
  width: 100%;
  height: 100%;
  position: absolute;
}

details {
  transition: all 0.3s;
}

summary {
  list-style: none;
  position: relative;
}

summary:hover {
  transform: scale(102%);
  box-shadow: 0rem 1rem 3rem 0.2rem rgba(238, 77, 71, 0.1);
  transition: all 0.3s;
}

summary::after {
  content: url("../img/SVG/plus.svg");
  font-size: 4rem;
  position: absolute;
  top: 2rem;
  right: 3.5rem;
}

details[open] summary:after {
  content: url("../img/SVG/minus.svg");
  font-size: 4rem;
  top: 1.1rem;
}

details[open] {
  margin-bottom: 3rem;
  transform: scale(102%);
  box-shadow: 0rem 1rem 3rem 0.2rem rgba(238, 77, 71, 0.1);
  transition: all 0.3s;
}

.footer__form-box {
  display: flex;
  flex-direction: column;
  justify-content: initial;
  align-items: initial;
  background-color: #fff;
  z-index: 50;
  border-radius: 0.5rem;
  max-width: 60rem;
  margin-bottom: 8rem;
  box-shadow: 0rem 2rem 4rem 0.2rem rgba(238, 77, 71, 0.1);
  transform: translateX(-7rem);
}

.form__example {
  display: flex;
  flex-direction: column;
  justify-content: initial;
  align-items: initial;
  margin-left: 7.5rem;
  margin-right: 7.5rem;
  max-width: 50rem;
  margin-bottom: 3rem;
}
.form__example__button {
  max-width: 22rem;
}
.form__name, .form__email {
  display: flex;
  flex-direction: row;
  justify-content: initial;
  align-items: initial;
  padding: 1.1rem 0 1.1rem 4rem;
  border-radius: 0.5rem;
  border-style: solid;
  border-width: thin;
  border-color: rgba(238, 77, 71, 0.3);
}
.form__name:hover, .form__email:hover {
  transform: scale(102%);
  box-shadow: 0rem 1rem 2rem 0.2rem rgba(238, 77, 71, 0.4);
  border-color: #ee4d47;
  border-width: medium;
  transition: all 0.3s;
}

.clients {
  z-index: 500;
  display: flex;
  flex-direction: initial;
  justify-content: initial;
  align-items: initial;
  margin: 0 auto;
  max-width: 117rem;
}
.clients__heading-box {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  max-width: 45rem;
  min-width: 30rem;
}
.clients__carousel {
  display: flex;
  flex-direction: column;
  justify-content: initial;
  align-items: initial;
  margin-left: 8rem;
}
.clients__carousel__nav {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  margin: 1rem;
  height: 4rem;
  max-width: 74rem;
  max-height: 10rem;
}
.clients__carousel__cont {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  mask-image: linear-gradient(90deg, black 40%, transparent);
  -webkit-mask-image: linear-gradient(90deg, black 40%, transparent);
}
.clients__carousel__box {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  margin: 1rem;
  margin-bottom: 3rem;
  background-color: #fff;
  width: 43rem;
  height: 36rem;
  outline: 1rem solid transparent;
  box-shadow: 0rem 1rem 3rem 0.2rem rgba(238, 77, 71, 0.1);
  border-radius: 5px;
}
.clients__carousel__box:hover {
  transform: scale(102%);
  box-shadow: 0rem 1rem 3rem 0.2rem rgba(238, 77, 71, 0.1);
  transition: all 0.3s;
}
.clients__carousel__text {
  margin-bottom: 6rem;
  max-width: 32rem;
  margin: 6rem 5.2rem 4rem 6rem;
}
.clients__carousel__client-box {
  display: flex;
  flex-direction: row;
  justify-content: initial;
  align-items: center;
  margin-left: 6rem;
  margin-bottom: 4rem;
}
.clients__carousel__photo {
  max-width: 6rem;
  height: auto;
  margin-right: 2rem;
}

.arrow-cont {
  width: 3rem;
  height: auto;
  margin: 1.5rem;
  border: none;
  background: none;
  cursor: pointer;
}

.arrow--1 {
  transform: rotateY(180deg);
  opacity: 0.4;
}

.footer {
  background-image: url("../../img/SVG/footer_bg.svg");
  height: auto;
  width: 100%;
  background-origin: border-box;
  background-position: top left;
  background-repeat: no-repeat;
  background-size: 140rem 73.6rem;
}
.footer__row {
  margin: 0 auto;
  display: flex;
  flex-direction: initial;
  justify-content: space-between;
  align-items: initial;
  max-width: 117rem;
  z-index: 10;
}
.footer__call {
  max-width: 38rem;
  padding: 3rem 3.5rem;
  margin-top: 20rem;
  border-left: 1rem solid #ee4d47;
  border-radius: 5px;
  z-index: 50;
}
.footer__copyright {
  display: flex;
  flex-direction: initial;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin: 0 auto;
  z-index: 50;
  margin-left: 1rem;
  margin-top: 3rem;
}
.footer__icon-box {
  display: flex;
  flex-direction: initial;
  justify-content: initial;
  align-items: initial;
  max-width: 170rem;
  height: auto;
  gap: 3rem;
  margin-right: 10rem;
}
.footer__icon--1:hover, .footer__icon--1:active {
  transform: scale(105%);
  box-shadow: 0rem 1rem 2rem 0.2rem rgba(238, 77, 71, 0.4);
  transition: all 0.3s;
}

.footer__bg {
  position: relative;
  top: 0;
}
.footer__bg--1 {
  position: absolute;
  top: 0;
  left: 0;
  max-width: 43rem;
  transform: translateY(-8rem);
  height: auto;
  z-index: 20;
}
.footer__bg--2 {
  z-index: 50;
  position: absolute;
  top: 0;
  left: 0;
  transform: translateY(4rem);
}

/*# sourceMappingURL=style.css.map */
