// Sections

.container {
  max-width: 160rem;
  height: auto;
  margin: 0 auto;
  background-color: $color-orange-light-1;
  z-index: -100;
  overflow: hidden;

}

.header {
  position: relative;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  width: 100%;
  height: auto;
  padding-left: 24rem;

}

.content {
  width: 100%;
  margin: 0 auto;
  height: auto;
  // padding-left: 24.5rem;
}

.about {
  width: 100%;
  height: auto;
  margin: 0 auto;
  margin-top: 70rem;
  display: flex;
  justify-content: space-evenly;
  max-width: 117rem;


}

.apply {
  display: flex;
  width: 100%;
  height: auto;
  margin: 0 auto;
  margin-top: 8rem;
  justify-content: space-evenly;
  max-width: 117rem;
}

.faq {
  display: flex;
  height: auto;
  margin: 0 auto;
  margin-top: 8rem;
  max-width: 117rem;
  flex-wrap: wrap;
  position: relative;

}

.clients {
  display: flex;
  margin: 0 auto;
  max-width: 117rem;
}

.footer {

  background-image: url("../../img/SVG/footer_bg.svg");
  height: auto;
  width: 100%;
  background-origin: border-box;
  background-position: top left;
  background-repeat: no-repeat;
  background-size: 140rem 73.6rem;
}

// Columns

.section-column {
  display: flex;
  flex-direction: column;
  padding-right: 2.5rem;
  gap: 4rem;
  flex: 1 1;
  max-width: 57rem;
}