.about {
  width: 100%;
  height: auto;
  margin: 0 auto;
  margin-top: 70rem;
  @include flexbox(row, space-evenly, );
  max-width: 117rem;

  &__img-1 {
    max-width: 57.5rem;
    margin-left: -6rem;
  }

  &__call {
    background-color: rgba($color-secondary, 1);
    padding: 3rem 3.5rem;
    border-left: 1rem solid rgba($color-accent-1, 1);
    border-radius: 5px;
  }
}