// Clients

.clients {
  z-index: 500;
  @include flexbox(initial, initial, initial);
  margin: 0 auto;
  max-width: 117rem;

  &__heading-box {
    @include flexbox(column, flex-start, flex-start);
    max-width: 45rem;
    min-width: 30rem;
  }

  &__carousel {
    @include flexbox(column, initial, initial);
    margin-left: 8rem;

    &__nav {
      @include flexbox(row, flex-end, center);
      margin: 1rem;
      height: 4rem;
      max-width: 74rem;
      max-height: 10rem;
    }

    &__cont {
      @include flexbox(row, space-evenly, center);
      mask-image: linear-gradient(90deg, black 40%, transparent);
      -webkit-mask-image: linear-gradient(90deg, black 40%, transparent);
    }

    &__box {
      @include flexbox(column, space-between, flex-start);
      margin: 1rem;
      margin-bottom: 3rem;
      background-color: $color-text-2;
      width: 43rem;
      height: 36rem;
      outline: 1rem solid transparent;
      box-shadow: $shadow-2;
      border-radius: 5px;
    }

    &__box:hover {

      @include animation-2;
    }

    &__text {
      margin-bottom: 6rem;
      max-width: 32rem;
      margin: 6rem 5.2rem 4rem 6rem;
    }

    &__client-box {
      @include flexbox(row, initial, center);
      margin-left: 6rem;
      margin-bottom: 4rem;
    }

    &__photo {
      max-width: 6rem;
      height: auto;
      margin-right: 2rem;
    }
  }
}

.arrow-cont {
  width: 3rem;
  height: auto;
  margin: 1.5rem;
  border: none;
  background: none;
  cursor: pointer;
}

.arrow--1 {
  transform: rotateY(180deg);
  opacity: .4;
}