// Clients

.clients {
  z-index: 500;
  @include flexbox;
  margin: 0 auto;
  max-width: 117rem;

  &__heading-box {
    @include flexbox(column, flex-start, flex-start);
    max-width: 45rem;
    min-width: 30rem;
  }

  &__slider {
    @include flexbox(column);
    margin-left: 8rem;

    &__nav {
      @include flexbox(row, flex-end, center);
      margin: 1rem;
      height: 4rem;
      max-width: 74rem;
      max-height: 10rem;
    }

    &__cont {
      width: 100%;
      @include flexbox(row, space-evenly, center);
      // mask-image: linear-gradient(90deg, black 40%, transparent);
      // -webkit-mask-image: linear-gradient(90deg, black 40%, transparent);
      position: relative;
    }
    &__btn {
      width: 3rem;
      height: auto;
      margin: 1.5rem;
      border: none;
      background: none;
      cursor: pointer;
      opacity: 0.5;

      &--left {
      }
      &--right {
      }
    }
  }

  &__slide {
    @include flexbox(column, space-between, flex-start);
    position: absolute;
    top: 0;
    margin: 1rem;
    margin-bottom: 3rem;
    background-color: $color-text-2;
    width: 43rem;
    height: 36rem;
    outline: 1rem solid transparent;
    box-shadow: $shadow-m;
    border-radius: 5px;
    z-index: 50;
    transition: all 1s ease-in-out;

    &__text {
      margin-bottom: 6rem;
      max-width: 32rem;
      margin: 6rem 5.2rem 4rem 6rem;
    }

    &__author-box {
      @include flexbox(row, space-between, center);
      max-width: 36rem;
      margin-left: 6rem;
      margin-bottom: 4rem;
    }

    &__photo {
      max-width: 8rem;
      height: auto;
      margin-right: 2rem;
    }
    &.active {
      transform: translateX(0);
      z-index: 50;
      opacity: 1;
    }
    &.next {
      transform: translateX(103%);
      z-index: 20;
      opacity: 0.9;
    }
    &.prev {
      transform: translateX(206%);
      z-index: 10;
      opacity: 0.5;
    }
  }
}
