// Clients

.clients {
  z-index: 500;
  display: flex;
  margin: 0 auto;
  max-width: 117rem;

  &__heading {
    display: flex;
    flex-direction: column;
    max-width: 45rem;
    min-width: 30rem;
    align-items: flex-start;
    justify-content: flex-start;
  }

  &-carousel {
    display: flex;
    flex-direction: column;
    margin-left: 8rem;


    &__nav {
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
      align-items: center;
      margin: 1rem;
      height: 4rem;
      max-width: 74rem;
      max-height: 10rem;
    }

    &__cont {
      display: flex;
      -webkit-mask-image: linear-gradient(90deg, black 40%, transparent);
    }

    &__box {
      margin: 1rem;
      margin-bottom: 3rem;
      background-color: #fff;
      width: 43rem;
      height: 36rem;
      outline: 1rem solid transparent;
      box-shadow: $shadow-2;
    }

    &__text {
      font-family: 'Rubik', sans-serif;
      font-size: 1.6rem;
      font-weight: 300;
      line-height: 3rem;
      margin-bottom: 6rem;
      max-width: 32rem;
      margin: 6rem 5.2rem 4rem 6rem;
    }

    &__client-box {
      display: flex;
      align-items: center;
      font-family: 'Rubik', sans-serif;
      font-size: 1.6rem;
      font-weight: 700;
      line-height: 3rem;
      margin-left: 6rem;
      margin-bottom: 4rem;
    }

    &__photo {
      max-width: 6rem;
      height: auto;
      margin-right: 2rem;
    }
  }
}

.arrow-cont {
  width: 3rem;
  height: auto;
  margin: 1.5rem;
  border: none;
  background: none;
  cursor: pointer;
}

.arrow--1 {
  transform: rotateY(180deg);
  opacity: .4;
}