// FAQ

.faq {
  @include flexbox;
  height: auto;
  margin: 0 auto;
  margin-top: 8rem;
  max-width: 117rem;
  flex-wrap: wrap;
  position: relative;

  &__img-1 {
    max-width: 70rem;
    margin-left: -12rem;
    margin-top: -15rem;
  }

  &__shape {
    position: absolute;
    top: -24rem;
    right: -52rem;
    width: 150rem;
    height: 140rem;
    z-index: 1;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    border-top-left-radius: 10vmax;
    background-color: rgba($color-orange-light-2, 1);
  }

  &__row {
    @include flexbox(space-between);
    width: 100%;
    margin: 5 auto;
    z-index: 100;
    max-width: 114rem;
  }

  &__list {
    list-style: none;
    @include flexbox(column);

    &__item {
      position: relative;
      max-width: 55rem;
      margin-top: 1rem;
      margin-right: 1.5rem;

      &__box {
        border-radius: 5px;
        z-index: 10;
        display: flex;
      }
    }
  }

  &__title {
    @include flexbox(row, space-between, center);
    border-radius: 1rem;
    background-color: #fff;
    width: 55rem;
    height: 9rem;
    box-shadow: $shadow-m;
    cursor: pointer;

    & p {
      max-width: 40rem;
      margin-left: 3.5rem;
    }
  }

  &__desc {
    padding: 5rem 3.5rem 6rem 3.5rem;
    background: linear-gradient(
      180deg,
      rgba(255, 232, 232, 1) 0%,
      rgba(255, 247, 245, 1) 35%,
      rgba(255, 247, 245, 1) 100%
    );
    box-shadow: 0rem 2rem 4rem 0.2rem rgba($color-accent-1, 0.1);
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
  }
}

// FAQ open functionality

.faq--hidden {
  opacity: 0;
  width: 100%;
  height: 100%;
  position: absolute;
}

.details {
  transition: all 0.3s;

  .summary {
    list-style: none;
    position: relative;
  }

  ::after {
    content: url("../img/SVG/plus.svg");
    font-size: 4rem;
    position: absolute;
    top: 2rem;
    right: 3.5rem;
  }
}

[open] {
  margin-bottom: 3rem;

  .summary::after {
    content: url("../img/SVG/minus.svg");
    font-size: 4rem;
    top: 1.1rem;
  }
}
