// Footer

.footer {
  background-image: url("../../img/SVG/footer_bg.svg");
  height: auto;
  width: 100%;
  background-origin: border-box;
  background-position: top left;
  background-repeat: no-repeat;
  background-size: 140rem 73.6rem;


  &__row {
    margin: 0 auto;
    @include flexbox(initial, space-between, initial);
    max-width: 117rem;
    z-index: 10;
  }

  &__call {
    max-width: 38rem;
    padding: 3rem 3.5rem;
    margin-top: 20rem;
    border-left: 1rem solid rgba($color-accent-1, 1);
    border-radius: 5px;
    z-index: 50;
  }


  &__copyright {
    @include flexbox(initial, space-between, center);
    width: 100%;
    margin: 0 auto;
    z-index: 50;
    margin-left: 1rem;
    margin-top: 3rem;
  }

  &__icon-box {
    @include flexbox(initial, initial, initial);
    max-width: 170rem;
    height: auto;
    gap: 3rem;
    margin-right: 10rem;
  }

  &__icon--1:hover,
  &__icon--1:active {
    @include animation-1;
  }
}

// Footer composition

.footer__bg {
  position: relative;
  top: 0;

  &--1 {
    position: absolute;
    top: 0;
    left: 0;
    max-width: 43rem;
    transform: translateY(-8rem);
    height: auto;
    z-index: 20;
  }

  &--2 {
    z-index: 50;
    position: absolute;
    top: 0;
    left: 0;
    transform: translateY(4rem);
  }
}