// Footer

.footer {
  background-image: url("../../img/SVG/footer_bg.svg");
  height: auto;
  width: 100%;
  margin-top: 40rem;
  background-origin: border-box;
  background-position: top left;
  background-repeat: no-repeat;
  background-size: 150rem auto;

  &__row {
    margin: 0 auto;
    @include flexbox(space-between);
    max-width: 117rem;
    gap: 9.5rem;
    z-index: 10;
  }

  &__call {
    max-width: 38rem;
    max-height: 16rem;
    padding: 3rem 3.5rem;
    margin-top: 20rem;
    border-left: 1rem solid rgba($color-accent-1, 1);
    border-radius: 5px;
    z-index: 50;
  }

  &__copyright {
    @include flexbox(row, space-between, center);
    width: 100%;
    margin: 0 auto;
    z-index: 50;
    margin-left: 1rem;
    margin-top: 3rem;
  }

  &__icon-box {
    @include flexbox;
    max-width: 170rem;
    height: auto;
    gap: 3rem;
    margin-right: 10rem;
  }
}

// Footer composition

.footer__background {
  position: relative;
  top: 0;

  &__img-1 {
    position: absolute;
    top: 0;
    left: 0;
    max-width: 43rem;
    transform: translateY(-8rem);
    height: auto;
    z-index: 20;
  }

  &__img-2 {
    z-index: 50;
    position: absolute;
    top: 0;
    left: 0;
    transform: translateY(4rem);
  }
}
