// Logo

.logo {
  width: 21.2rem;
  height: auto;
}

.header {
  position: relative;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  width: 100%;
  height: auto;
  padding-left: 24rem;

}