// Logo

.logo {
  width: 21.2rem;
  height: auto;
}

.header {
  position: relative;
  @include flexbox(column, space-between);
  width: 100%;
  height: auto;
  padding-left: 24rem;
}

// Header background
.header__content {
  width: max-content;

  &__img-1 {
    width: 200rem;
    height: auto;
    z-index: 1;
    position: absolute;
    top: 0;
    left: 0;
  }

  &__img-2 {
    z-index: 5;
    width: auto;
    height: 50.6rem;
    position: absolute;
    right: 42rem;
    top: 44.3rem;
  }

  &__img-3 {
    z-index: 5;
    width: 81.1rem;
    height: auto;
    position: absolute;
    left: -21.1rem;
    top: 79rem;
    animation: 2s linear 0s alternate truck_move;
  }
}
