.header__nav {
  @include flexbox(row, space-between, center);
  flex: 0 0 20%;
  margin: 4rem 25.2rem 9rem 0rem;
  z-index: 10;

  &__menu {
    @include flexbox(row, space-between, center);
    flex: 0 2 56%;
    list-style: none;
    gap: 1.4rem;
    margin-right: 1rem;
  }
}

.footer {
  &__nav {
    @include flexbox(initial, space-between, center);
    width: 100%;
    z-index: 50;

    &__menu {
      @include flexbox(initial, initial, initial);
      gap: 10rem;
      justify-self: flex-end;
      list-style: none;
    }

    &__menu:last-child {
      margin-right: 10rem;
    }
  }
}