* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  @include font(2rem, 4rem, $font-secondary, 300, $color-text-1);
  background-color: $color-primary;


}

a:link {
  text-decoration: none;
  color: $color-text-2;
  background-color: transparent;
}