// Headings

.heading-1 {
  font-family: 'DM Serif Display', serif;
  font-size: 10rem;
  font-weight: 400;
  line-height: 10rem;
  color: #fff;
  width: 70rem;
  margin-bottom: 6rem;
  z-index: 50;
}

.heading-2 {
  font-family: 'Rubik', sans-serif;
  font-size: 2.4rem;
  line-height: 4rem;
  font-weight: 700;
  color: rgba($color-orange-1, 1);
}

.heading-3 {
  font-family: 'DM Serif Display', serif;
  font-size: 4.8rem;
  font-weight: 400;
  line-height: 6.7rem;

}

// Paragraphs