// Headings

.heading-1 {
  @include font(10rem, 10rem, $font-primary, 400, $color-text-2);
  max-width: 70rem;
  margin-bottom: 6rem;
  z-index: 50;
}

.heading-2 {
  @include font(2.4rem, 4rem, $font-secondary, 700, $color-accent-1);
}

.heading-3 {
  @include font(4.8rem, 6.7rem, $font-primary, 700, $color-text-1);
}

//  Links

.menu-link {
  @include font(1.6rem, 1.8rem, $font-secondary, 700, $color-text-2);
  text-transform: uppercase;
}

.menu-link--secondary {
  @include font($font-secondary, 1.6rem, 400, 18rem, $color-text-2);
  text-transform: uppercase;
}

// Paragraphs

.paragraph--primary {
  @include font(1.8rem, 4rem, $font-secondary, 300, $color-text-1);
}

.paragraph--secondary {
  @include font(2.4rem, 3.6rem, $font-secondary, 500, $color-text-1);
}

.paragraph--tertiary {
  @include font(1.6rem, 3rem, $font-secondary, 300, $color-text-1);
}

.paragraph--bright {
  @include font(2rem, 3rem, $font-secondary, 400, $color-text-2);
}

//  Buttons

.button-text--secondary {
  @include font(1.8rem, 3rem, $font-secondary, 700, $color-accent-1);
  text-transform: uppercase;
}
.button-text--arrow {
  @include font(3rem, 3rem, $font-secondary, 700, $color-accent-1);
  text-transform: uppercase;
}
// Form

input::placeholder {
  @include font($font-secondary, 1.6rem, 300, 4rem, $color-text-1);
}
