@keyframes truck_move {

  0% {
    transform: translateX(-75%);
  }

  50% {
    transform: translateX(-35%);
  }

  90% {
    transform: translateX(-5%);
  }

  100% {
    transform: translateX(0);
  }


}