@mixin flexbox($direction: false, $justify: false, $align: false) {
  display: flex;

  @if ($direction) {
    flex-direction: $direction;
  }

  @if ($justify) {
    justify-content: $justify;
  }

  @if ($align) {
    align-items: $align;
  }
}

@mixin font($size, $height, $family: false, $weight: false, $color: false) {
  font-size: $size;
  line-height: $height;

  @if ($family) {
    font-family: $family;
  }

  @if ($weight) {
    font-weight: $weight;
  }

  @if ($color) {
    color: $color
  }
}