@mixin flexbox($direction, $justify, $align) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $align;
}

@mixin font($family, $size, $weight, $height, $color) {
  font-family: $family;
  font-size: $size;
  font-weight: $weight;
  line-height: $height;
  color: $color
}

@mixin animation-1 {
  transform: scale(105%);
  box-shadow: $shadow-3;
  transition: all .3s;
}

@mixin animation-2 {
  transform: scale(102%);
  box-shadow: $shadow-2;
  transition: all .3s;
}

@mixin animation-3 {
  transform: scale(102%);
  box-shadow: $shadow-3;
  border-color: rgba($color-accent-1, 1);
  border-width: medium;
  transition: all .3s;
}