// Color variables

$color-orange-1: #EE4D47;

$color-blue-1: #0F264C;

$color-orange-light-1: #FEF8F5;
$color-orange-light-2: #FDEDE8;
$color-orange-light-3: #FCDDD4;

$color-orange-dark-1: #402B2B;

// Shadow variables

$shadow-1: 0rem 2rem 4rem .2rem rgba($color-orange-1, .1);
$shadow-2: 0rem 1rem 3rem .2rem rgba($color-orange-1, .1);



// Margins

.mb-s {
  margin-bottom: 5rem !important;
}

.mb-m {
  margin-bottom: 10rem !important;
}

.mb-l {
  margin-bottom: 20rem !important;
}

.mb-h {
  margin-bottom: 40rem !important;
}